@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

#grilla {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

.titulo-seccion {
  height: 200px;
  margin: auto;
  text-align: center;
  padding: 70px;
  background-color: white; }
  .titulo-seccion h1 {
    font-weight: bold; }

.whatsapp {
  position: fixed;
  bottom: 100px;
  right: 100px;
  z-index: 100000; }

.logo {
  width: 100px;
  height: 100px;
  color: rgba(0, 0, 0, 0.919);
  display: block;
  background-size: cover; }

.navegacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1000000;
  background-color: rgba(255, 255, 255, 0.92); }

.nav {
  align-items: center;
  justify-content: center; }
  .nav button {
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
    border: solid 2px;
    background-color: darkolivegreen;
    color: white;
    border-style: none; }
    .nav button:hover {
      background-color: darkgreen;
      transition: .5s; }

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  height: 100px;
  width: 500px;
  font-size: 1rem; }
  .nav__menu a:hover {
    color: black;
    border-bottom: 2px solid darkolivegreen; }

.encabezado__principal {
  height: 80vh;
  background-size: cover;
  background-position: center center;
  margin: auto;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/paisaje.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .encabezado__principal button {
    margin-top: 45px;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border: solid 3px white;
    box-shadow: 2px 2px 10px black;
    color: white;
    background-color: rgba(250, 5, 54, 0); }
    .encabezado__principal button:hover {
      background-color: darkolivegreen;
      border-color: darkolivegreen; }

.encabezado__texto h1 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 3rem; }

.encabezado__texto span {
  color: white;
  font-style: italic; }

.carousel-inner {
  height: 80vh;
  background-size: cover;
  background-position: center center;
  margin: auto; }

.carousel-item {
  transition: transform ease-in-out 1.2s; }

.carousel__imagen {
  background-size: cover;
  background-position: center center; }

/* Seccion lead */
.seccion__lead {
  background-color: darkolivegreen;
  color: white; }

.btn-primary {
  color: black;
  background-color: white;
  border-color: white; }

.btn-outline-secondary {
  border-color: white;
  color: white; }

/* Seccion caracteristicas */
.texto {
  height: 200px;
  margin: auto;
  text-align: center;
  padding: 70px;
  background-color: white; }

.texto h1 {
  font-weight: bold; }

.caracteristicas {
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  margin: auto; }

.caracteristicas__carta {
  display: flex;
  flex-direction: column;
  height: 250px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px;
  align-items: center;
  justify-content: center; }

.caracteristicas__carta span {
  padding-top: 20px; }

.caracteristicas__imagen {
  width: 50px;
  height: 50px; }

.cabanas__contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0; }

.cabanas__titulo h2 {
  font-weight: bold;
  color: white; }

.cabanas__titulo {
  text-align: center;
  padding: 20px;
  background-color: darkolivegreen;
  margin-top: 50px; }

.cabanas__tarjeta {
  width: 20%;
  height: 40vh;
  background-image: url(../imagenes/cabana--exterior.jpg);
  margin: 1.5%;
  background-size: cover;
  background-position: center center;
  transform: scale(1);
  transition: .5s; }

.cabanas__contenido {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(19, 19, 19, 0.585);
  opacity: 0;
  transition: .5s;
  color: white;
  text-align: center;
  padding: 20px; }

.cabanas__contenido span {
  border: solid 2px;
  padding: 7px;
  font-weight: bold; }

.cabanas__tarjeta:hover .cabanas__contenido {
  opacity: 1;
  cursor: pointer; }

.cabanas__tarjeta:hover {
  transform: scale(1.02); }

.servicios__container .row {
  padding-bottom: 40px; }

.servicios__titulo {
  font-weight: bold;
  padding: 50px; }

.servicios__carta {
  display: flex;
  height: 125px;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.servicios__carta--titulo {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 7px; }

.servicios__carta img {
  height: 50px;
  width: 50px;
  padding-bottom: 10px; }

.ubicacion__contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  background-color: darkolivegreen; }

.ubicacion__titulo h2 {
  font-weight: bold; }

.ubicacion__texto {
  width: 40%;
  color: white; }

.contacto__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 50px; }

.contacto__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.contacto__texto p {
  font-style: italic; }

.contacto__info {
  display: flex;
  flex-direction: column; }

.contacto__info h3 {
  font-weight: bold; }

.encabezado__principal {
  height: 80vh;
  background-size: cover;
  background-position: center center;
  margin: auto;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/paisaje.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.encabezado__principal button {
  margin-top: 45px;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 20px;
  border: solid 3px white;
  box-shadow: 2px 2px 10px black;
  color: white;
  background-color: rgba(250, 5, 54, 0); }

.encabezado__principal button:hover {
  background-color: darkolivegreen;
  border-color: darkolivegreen;
  transition: ease-in-out .1s; }

.encabezado__texto h1 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 3rem; }

.encabezado__texto span {
  color: white;
  font-style: italic; }

.titulo-seccion {
  height: 200px;
  margin: auto;
  text-align: center;
  padding: 70px;
  background-color: white; }
  .titulo-seccion h1 {
    font-weight: bold; }

.opciones__cabanas-1 {
  background-color: darkolivegreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px; }

.opciones__cabanas-2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px; }

.titulo-cabana {
  color: white;
  font-weight: bold;
  margin-bottom: 20px; }

.titulo-cabana-2 {
  color: black;
  font-weight: bold;
  margin-bottom: 20px; }

.opciones__cabanas-contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px; }
  .opciones__cabanas-contenido img {
    width: 80%;
    height: 50vh; }

.opciones__cabanas-contenido-2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 40px; }
  .opciones__cabanas-contenido-2 img {
    width: 80%;
    height: 50vh; }

.opciones__cabanas-texto {
  width: 40%;
  color: white;
  font-size: 1.2rem; }

.opciones__cabanas-texto-2 {
  width: 40%;
  color: black;
  font-size: 1.2rem; }

.cabanas__reservar-1 {
  padding: 10px;
  font-weight: bold;
  font-size: 1rem;
  background-color: white;
  color: darkolivegreen;
  border-style: none; }
  .cabanas__reservar-1:hover {
    background-color: #858585;
    color: white;
    transition: .5s; }

.cabanas__reservar-2 {
  padding: 10px;
  font-weight: bold;
  font-size: 1rem;
  border: solid 2px;
  background-color: darkolivegreen;
  color: white;
  border-style: none; }
  .cabanas__reservar-2:hover {
    background-color: darkgreen;
    transition: .5s; }

.cabanas__fotos {
  padding: 8px;
  font-weight: bold;
  font-size: 1rem;
  border: solid 2px white;
  color: white;
  background-color: darkolivegreen; }
  .cabanas__fotos:hover {
    background-color: darkgreen;
    color: white;
    transition: .2s;
    border-color: darkgreen; }

.cabanas__fotos-2 {
  padding: 8px;
  font-weight: bold;
  font-size: 1rem;
  border: solid 2px darkolivegreen;
  color: darkolivegreen;
  background-color: white; }
  .cabanas__fotos-2:hover {
    background-color: darkgreen;
    color: white;
    transition: .2s;
    border-color: darkgreen; }

.encabezado__principal__contacto {
  height: 80vh;
  background-size: cover;
  background-position: center center;
  margin: auto;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/6-Río-Chico.-Valle-de-Traslasierra.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .encabezado__principal__contacto button {
    margin-top: 45px;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border: solid 3px white;
    box-shadow: 2px 2px 10px black;
    color: white;
    background-color: rgba(250, 5, 54, 0); }
    .encabezado__principal__contacto button:hover {
      background-color: darkolivegreen;
      border-color: darkolivegreen;
      transition: ease-in-out .1s; }

.encabezado__texto__contacto h1 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 3rem; }

.encabezado__texto__contacto span {
  color: white;
  font-style: italic; }

.contacto__contenedor {
  background-color: darkolivegreen;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px; }

.contacto__formulario {
  background-color: black;
  border-radius: 8px;
  padding: 30px;
  display: flex;
  color: white;
  height: auto;
  width: 30%; }

.contacto__texto--pagina h3 {
  color: white;
  font-weight: bold;
  margin-bottom: 10px; }

.contacto__texto--pagina p {
  width: 80%;
  color: white;
  font-size: 1.2rem;
  font-style: normal; }

.contacto__formulario--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .contacto__formulario--form h2 {
    font-weight: bold; }

.contacto__formulario--opciones {
  width: 100%; }
  .contacto__formulario--opciones h3 {
    margin: 20px;
    text-align: center; }

.formulario__inputs {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  align-items: center;
  text-align: left; }

.formulario__inputs__inner {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .formulario__inputs__inner input {
    background-color: black;
    border-style: none;
    border-bottom: solid 2px grey;
    color: white; }
    .formulario__inputs__inner input:focus {
      border-bottom: solid 2px orange;
      outline: none; }
  .formulario__inputs__inner p {
    margin-bottom: 5px;
    margin-top: 5px;
    color: grey;
    font-size: 0.9em; }

.formulario__boton {
  width: 70%;
  padding: 5px;
  margin-top: 10px;
  border-radius: 8px;
  font-weight: bold; }
  .formulario__boton:hover {
    background-color: darkolivegreen;
    color: white;
    transition: ease-in-out .1s; }

.select__cabaña {
  padding: 10px;
  padding-top: 0;
  padding-bottom: 20px;
  width: 100%; }
  .select__cabaña select {
    background-color: black;
    color: grey;
    border-style: none;
    border-bottom: solid 2px grey;
    border-radius: 0; }
    .select__cabaña select:focus {
      border-bottom: solid 2px orange; }

.select__fecha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px; }
  .select__fecha input {
    border-style: none;
    width: 50%;
    text-align: center; }

.contenedor_imagenes__cabaña {
  background-color: darkolivegreen;
  padding: 20px; }

.galeria-img {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  padding: 10px 0; }

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60%;
  margin: auto;
  grid-gap: 20px;
  padding: 20px 0; }
  .galeria img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    vertical-align: top; }
  .galeria > a {
    display: block;
    position: relative;
    overflow: hidden; }
  .galeria a:hover img {
    transform: scale(1.05);
    transition: .5s ease;
    filter: blur(2px); }

.light-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: transform .2s ease-in-out; }
  .light-box:target {
    transform: scale(1); }

.close {
  display: block;
  position: absolute;
  top: 300px;
  right: 700px;
  font-weight: bold;
  background-color: red;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  color: white;
  text-align: center; }

.next {
  background-color: crimson;
  height: 30px;
  width: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 30px; }

.boton__reservar {
  margin: auto;
  margin-top: 20px; }

.boton__reservar button {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 20px;
  border: solid 3px darkolivegreen;
  color: darkolivegreen;
  background-color: rgba(250, 5, 54, 0); }
  .boton__reservar button:hover {
    background-color: darkolivegreen;
    border-color: darkolivegreen;
    color: white;
    transition: ease-in-out .1s; }

@media screen and (max-width: 1023px) {
  .carousel-item img {
    height: 80vh;
    object-fit: cover; }
  .titulo-seccion h1 {
    margin: 0; }
  .cabanas__contenedor {
    flex-direction: column; }
  .cabanas__tarjeta {
    width: 80%; }
  .ubicacion__contenido {
    flex-direction: column; }
  .ubicacion__mapa {
    width: 80%; }
    .ubicacion__mapa iframe {
      width: 100%; }
  .ubicacion__texto {
    width: 80%; }
  .whatsapp {
    bottom: 50px;
    right: 50px; }
  .opciones__cabanas-contenido {
    flex-direction: column; }
  .opciones__cabanas-img img {
    width: 100%; }
  .opciones__cabanas-texto {
    width: 90%; }
  .opciones__cabanas-contenido-2 {
    flex-direction: column; }
  .opciones__cabanas-img img {
    width: 100%; }
  .opciones__cabanas-texto-2 {
    width: 90%; }
  .encabezado__texto__contacto {
    text-align: left;
    width: 95%; }
    .encabezado__texto__contacto h1 {
      text-align: left; }
  .contacto__contenedor {
    flex-direction: column; }
  .contacto__formulario {
    width: 90%; }
  .contacto__texto--pagina {
    text-align: center;
    width: 100%; }
  .galeria {
    grid-template-columns: auto; }
  .light-box img {
    height: 100%;
    width: 80vw;
    object-fit: none; }
  .close {
    top: 220px;
    right: 100px; } }
