* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

#grilla {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.header__icono{
    display: none;
}

.menu__item--oculto{
    display: none;
}

// Titulo secciones

.titulo-seccion {
	height: 200px;
	margin: auto;
	text-align: center;
	padding: 70px;
	background-color: white;
	h1 {
		font-weight: bold;
	}
}

.whatsapp{
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 100000;
}
