.contenedor_imagenes__cabaña {
    background-color: darkolivegreen;
    padding: 20px;
}

.galeria-img{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    padding: 10px 0;
}
