// Vista tablet

@media screen and (max-width: 1023px) {

    // Home
    .carousel-item {
        img {
            height: 80vh;
            object-fit: cover;
        }
    }
    .titulo-seccion {
        h1 {
            margin: 0;
        }
    }
    .cabanas__contenedor {
        flex-direction: column;
    }
    .cabanas__tarjeta {
        width: 80%;
    }
    .ubicacion__contenido {
        flex-direction: column;
    }
    .ubicacion__mapa {
        width: 80%;
        iframe {
            width: 100%;
        }
    }
    .ubicacion__texto {
        width: 80%;
    }
    
    .whatsapp{
        bottom: 50px;
        right: 50px;
    }

    // Pagina cabañas

    .opciones__cabanas-contenido {
        flex-direction: column;
    }

    .opciones__cabanas-img {
        img {
            width: 100%;
        }
    }

    .opciones__cabanas-texto {
        width: 90%;
    }

    .opciones__cabanas-contenido-2 {
        flex-direction: column;
    }

    .opciones__cabanas-img {
        img {
            width: 100%;
        }
    }

    .opciones__cabanas-texto-2 {
        width: 90%;
    }

    // Pagina contacto

    .encabezado__texto__contacto {
        text-align: left;
        width: 95%;

        h1 {
            text-align: left;
        }
    }

    .contacto__contenedor {
        flex-direction: column;
    }

    .contacto__formulario {
        width: 90%;
    }

    .contacto__texto--pagina {
        text-align: center;
        width: 100%;
    }

    // galeria de fotos de cabañas

    .galeria {
        grid-template-columns: auto;
    }

    .light-box {
        img{
            height: 100%;
            width: 80vw;
            object-fit: none;
        }
    }

    .close {
        top: 220px;
        right: 100px;
    }
}

@media screen and (max-width: 576px) {
    .nav {
        display: block;
        background-color: white;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 1000000;
        width: 70%;
        height: 100vh;
        transition: left 1s; }
        &:target {
            display: block;
            left: 0; 
    }
    .nav__menu {
        flex-direction: column;
        justify-content: center;
        text-align: left;
        height: 100vh;
        gap: 2rem;
        width: 100%;
        }
    .menu__item--oculto {
        display: block; 
    }

    .menu__item--oculto a:hover{
        border: none;
        color: crimson;
    }
    
    .header__icono {
        display: block;
        width: 20px;
        height: 20px;
    }

    .fa-solid{
        width: 20px;
        height: 20px;
        font-size: 25px;
    }
    
    
    .btn-primary {
        width: 100%;
    }

    .ubicacion__mapa {
        width: 100%;
    }

    .ubicacion__texto{
        width: 100%;
    }

    .whatsapp {
        bottom: 50px;
        right: 50px;
        height: 50px;
        width: 50px;
    }

    //Pagina cabaña

    .opciones__cabanas-img img{
        height: 30vh;
    }


    //Pagina contacto

    .contacto__contenedor {
        padding: 50px 20px;
    }

    .contacto__texto--pagina p {
        width: 100%;
    }

    .contacto__formulario {
        width: 100%;
    }

    //Pagina informacion de cabañas

    .galeria img{
        height: 20vh;
    }

    .light-box img {
        margin: 0;
    }
}